body{
margin : center;
width : 90%;
background-color: #F5F5F5;
font-family: 'Noto Sans JP', sans-serif;

}

a:hover {
  color: red;
}

.grid-container {
  margin-bottom : auto;
  grid-template-areas:
                      "head img";
}

.first:hover {
  opacity: 0.9;
}

.first{
 width : 40%; 
 float : right;
 grid-area: img;
}

.top{
 grid-area: head;
 margin-bottom : 1em;
 height: auto;
}

.text{
 font-size: 2em;
 margin : auto;
}

.divider{
 background-color: #DC965A;
 height: 2em;
 width: 100%;
 margin-bottom: 2em;
 margin : center;
}


.grid{
  margin-top : auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);

}

.txtone{
 font-size: 2em;
 margin-right: auto;
 margin-top: center;
}

.second:hover {
  opacity: 0.9;
}

.second{
 width : 100%;
}

.txttwo{
 font-size: 1.75em;
 margin-right: auto;
 margin-top: center;
}

.third:hover {
  opacity: 0.9;
}

.dividertwo{
 background-color: #DC965A;
 height: 2em;
 width: 100%;
 margin-top : 2em;
 margin : center;
}

.foot-container{
  margin : center;
}



